*{
	box-sizing: border-box;
}
#loadOverlay{display: none;}

body{
	margin: 0;
    background: #b1dedb;
    color: #5AAAAA;
    font-family: 'Gravitas One', serif !important;
}
img{
    width: 75%;
    height: 75%;
    display: block;
    max-width: 500px;
    margin: auto;
}
.container{
    max-width: 670px;
    margin: auto;
    background: #fff;	
    min-height: 100vh;
    border: 2px solid #5bb9bf;
}
.main_img{
	background: #A7DBD8;
}
.content{
	padding: 10px 15px;
    border-top: none;
    text-align: center;
}
#slot_wrapper{
	text-align: center;
	 margin: 25px auto; 
	 display: inline-block;
	     cursor: default;
}
input{
  	border: 5px solid #5AAAAA;
    padding: 15px 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    color: #5AAAAA;
    /* display: block; */
    /* margin: 35px auto; */
    width: 300px;
    height: 80px;
    font-family: 'Gravitas One', serif !important;
}
input[type="text" i]:disabled
{
	background: transparent;
}
button{
	padding: 15px 50px;
    background: #B5E7E4;
    font-size: 26px;
    color: #5AAAAA;
    border: 5px solid transparent;
    border-radius: 8px;
    font-weight: 700;
    display: block;
    margin: 25px auto;
    font-family: 'Gravitas One', serif !important;
    cursor: pointer;
}
button:focus,
button:active{
	outline: 0;
}
/**/

@media screen and (max-width: 340px){
	input,
	.jSlots-wrapper{
		    width: 260px !important;
	}
	#slot_wrapper,
	button{
		margin: 20px auto;	
	}
}